---
permalink: /
---
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{ site[site.defaultLang].meta.siteTitle }}</title>
<meta http-equiv="refresh" content="0; url=/{{ site.defaultLang }}/">
<link rel="canonical" href="/{{ site.defaultLang }}/">
</head>
<body>
<a href="/{{ site.defaultLang }}/">{{ site[site.defaultLang].meta.company }}</a>
</body>
</html>
